**/haxe/**/*.* linguist-detectable=false
**/haxe/*.* linguist-detectable=false
**/std/**/*.* linguist-detectable=false
**/std/*.* linguist-detectable=false
**/_std/**/*.* linguist-detectable=false
**/_std/*.* linguist-detectable=false
**/sys/**/*.* linguist-detectable=false
**/sys/*.* linguist-detectable=false
hl/**/hl/*.* linguist-detectable=false